client/RestBankingClient/RestBankingConsoleClient/Connected Services/AcountService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountResponse" nillable="true" type="tns:AccountResponse" />
  <xs:complexType name="AccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountRequest" nillable="true" type="tns:AccountRequest" />
</xs:schema>