client/RestBankingClient/RestBankingClient/Connected Services/RestBankingService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50266/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" />
  <xs:element name="Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" minOccurs="0" name="BalanceResult" nillable="true" type="q1:AccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" minOccurs="0" name="request" nillable="true" type="q2:AccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" minOccurs="0" name="DepositResult" nillable="true" type="q3:AccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" minOccurs="0" name="request" nillable="true" type="q4:AccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RestBankingService.Contract" minOccurs="0" name="WithdrawResult" nillable="true" type="q5:AccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>